.coin_desc {
  background-color: #5f6469;
  height: 75vh;
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.coin_desc-title {
  font-family: "Adamina", serif;
  font-size: 3rem;
  padding-bottom: 20px;
  text-decoration: underline;
}

.coin_desc-sub {
  font-family: "Adamina", serif;
  font-size: 2.5rem;
  text-decoration: underline;
}

.coin_desc-para {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  text-align: left;
}

.coin_comp {
  margin: 0 auto;
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.coin_comp-title {
  font-family: "Adamina", serif;
  font-size: 3rem;
  padding-bottom: 60px;
  text-decoration: underline;
}

.coin_comp-desc {
  display: flex;
  flex-wrap: wrap;
}

.btc_desc {
  border: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  width: 50%;
}

.eth_desc {
  border: 2px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  width: 50%;
}

.doge_desc {
  border: 2px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  padding-bottom: 30px;
  width: 50%;
}

.ltc_desc {
  border: 2px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  padding-bottom: 30px;
  width: 50%;
}

.btc_desc-title {
  font-family: "Adamina", serif;
  font-size: 1.8rem;
  text-decoration: underline;
}

.btc_desc-sub {
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
}

.coin_price {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  width: 75%;
}
