.coin_desc {
  background-color: #5f6469;
  height: 591px;
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.coin_desc-title {
  font-family: "Adamina", serif;
  font-size: 3rem;
  padding-bottom: 20px;
  text-decoration: underline;
}

.coin_desc-sub {
  font-family: "Adamina", serif;
  font-size: 2.5rem;
  text-decoration: underline;
}

.coin_desc-para {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  text-align: left;
}

.coin_comp {
  margin: 0 auto;
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.coin_comp-title {
  font-family: "Adamina", serif;
  font-size: 3rem;
  padding-bottom: 20px;
  text-decoration: underline;
}

.coin_comp-desc {
  display: flex;
  flex-wrap: wrap;
}

.btc_desc {
  padding-bottom: 50px;
  width: 50%;
}

.eth_desc {
  padding-bottom: 50px;
  width: 50%;
}

.doge_desc {
  padding-bottom: 50px;
  width: 50%;
}

.ltc_desc {
  padding-bottom: 50px;
  width: 50%;
}
