.componentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mnemonic_description {
  background-color: #5f6469;
  height: 591px;
  padding: 10px 50px;
  position: relative;
  width: 70%;
}

.mnemonic_desc-title {
  font-family: "Adamina", serif;
  font-size: 3rem;
  padding-bottom: 20px;
  text-decoration: underline;
}

.mnemonic_desc-para {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  text-align: left;
}

.warning {
  font-weight: bold;
}

.mnemonic_component {
  margin: 0 auto;
  padding: 10px 50px;
  position: relative;
  width: 30%;
}

.mnemonic_comp-title {
  font-family: "Adamina", serif;
  font-size: 3rem;
  padding-bottom: 20px;
  text-decoration: underline;
}

.mnemonic_comp-phrase {
  border: 2px solid black;
  background-color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.mnemonic_comp-desc {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  padding-bottom: 50px;
  text-align: center;
}


