.sell_desc {
  background-color: #5f6469;
  height: 75vh;
  padding: 10px 50px;
  position: relative;
  width: 70%;
}

.sell_desc-title {
  font-family: "Adamina", serif;
  font-size: 3rem;
  padding-bottom: 20px;
  text-decoration: underline;
}

.sell_desc-para {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  text-align: left;
}

.sell_comp {
  margin: 0 auto;
  padding: 10px 50px;
  position: relative;
  width: 30%;
}

.sell_comp-title {
  font-family: "Adamina", serif;
  font-size: 3rem;
  padding-bottom: 20px;
  text-decoration: underline;
}
