/* .navbar {
  height: 74px;
  margin: 0;
}

*/
/*.app {
  background-color: #fff;
  text-align: center;
}

.app-header {
  align-items: center;
  background-color: #092956;
  display: flex;
  height: 12.5vh;
  justify-content: center;
  margin: 0 auto;
}*/
