/* .app {
  background-color: #FFF;
  text-align: center;
}
/* 
.app-header {
  align-items: center;
  background-color: #092956;
  display: flex;
  height: 12.5vh;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.app-title {
  color: #fff;
  font-size: 4rem;
  margin: 10px;
} */