.app {
  background-color: #23282e;
  text-align: center;
}

.app-header {
  align-items: center;
  background-color: #092956;
  display: flex;
  height: 10vh;
  justify-content: center;
}

.app-title {
  color: #fff;
  font-size: 3rem;
  margin: 10px;
}

