.app {
  text-align: center;
}

.app-header {
  align-items: center;
  background-color: #092956;
  display: flex;
  height: 15vh;
  justify-content: center;
}

.app-title {
  color: #fff;
  font-size: 4rem;
  margin: 10px;
}
