.landing_cont {
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.landing_reg {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  width: 50%;
}

.landing_reg-title {
  font-family: "Adamina", serif;
  font-size: 3rem;
}

.landing_log {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  width: 50%;
}

.button {
  background-color: #092956;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 50px;
  padding: 10px;
}
