.container {
  background-color: #868b91;
  font-size: 20px;
  height: 70vh;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

.noDescription {
  margin: 0 auto;
  width: 70%;
}

.componentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.description {
  background-color: #5f6469;
  height: 70vh;
  overflow: scroll;
  padding: 10px 50px;
  width: 50%;
}

.component {
  height: 70vh;
  margin: 0 auto;
  padding: 10px 50px;
  width: 50%;
}

.footer {
  background-color: #092956;
  height: 15vh;
  margin: 0 auto;
  width: 80%;
}

.progressBar {
  position: relative;
  top: 50%;
}

.buttonBackwards {
  background-color: #092956;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.buttonBackwards:hover {
  color: #fff;
  text-decoration: underline;
}

.fa-arrow-left {
  padding-right: 10px;
}

.buttonForwards {
  background-color: #092956;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 50px;
  padding: 10px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.buttonForwards:hover {
  color: #fff;
  text-decoration: underline;
}

.fa-arrow-right {
  padding-left: 10px;
}
